/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.about-image {
  width: 150px;
}

.about-heading {
  color: #6d396b;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
}

@media (min-width: 576px) {
  .about-heading {
    font-size: 48px;
  }
}

.description {
  color: #555555;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
}
